{% extends 'base.html.twig' %}

{% block title %}Nouvelle compagnie{% endblock %}

{% block body %}

<h1>Nouvelle compagnie</h1>

{# {{ form(formulaire)}}  Intégralité du formulaire #}

{# {{ form_start(formulaire, {'attr': {'novalidate':'novalidate'}})}} #}
{{ form_start(formulaire)}}
    {# {{ form_widget(formulaire)}} #}
    {{ form_row(formulaire.nom)}}
    {{ form_row(formulaire.employes)}}
    {{ form_row(formulaire.sigle)}}
    <button class="btn btn-primary">Valider</button>
{{ form_end(formulaire)}}

{% endblock %}
