{% extends 'base.html.twig' %}

{% block title %}Nouvelle compagnie{% endblock %}

{% block body %}

<h1>Nouvelle compagnie</h1>


{# {{ form(formulaire)}}  Intégralité du formulaire #}

{# {{ form_start(formulaire, {'attr': {'novalidate':'novalidate'}})}} #}
{# {{ form_start(formulaire)}} #}
    {# {{ form_widget(formulaire)}} #}
    {# <div class="row"> #}
        {# {{ form_row(formulaire.nom)}} #}
    {# </div> #}
    {# <div class="row"> #}
        {# {{ form_row(formulaire.employes)}} #}
    {# </div> #}
    {# <div class="row"> #}
        {# {{ form_row(formulaire.sigle)}} #}
    {# </div> #}
    {# <button class="btn btn-primary">Valider</button> #}
{# {{ form_end(formulaire)}} #}

{% include "companies/form.html.twig" %}

<div class="col-3">
        <a href="{{path('app_companies')}}" class="btn btn-primary">Retour à la liste</a>
    </div>


{% endblock %}
